<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2015/04/20/17/39/man-731900_1280.jpg);">
  <div class="container">
    <h1>GrowPeas</h1>
    <p>Post or join classes of all kind near you!</p>
    <a class="btn btn-success rounded-5 shadow" href="#">Sign up now!</a>
  </div>
</div>
<br>
<div class="container mx-auto my-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 23rem;">
      <%= image_tag "woman_sport.jpg" %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <%# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> %>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%# <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
          <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card black" style="width: 23rem;">
      <%= image_tag "woman_sport.jpg" %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <%# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> %>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%# <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
          <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card black" style="width: 23rem;">
      <%= image_tag "woman_sport.jpg" %>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <%# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> %>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%# <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
          <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
