<h1>Tous les cours disponibles</h1>
<% @courses.each do |course| %>
<li>
  <%= course.name %>
  <%= link_to "Voir les détails du cours", course_path(course) %>
</li>
<% end %>
<%= link_to "Créer un nouveau cours", new_course_path %>
