<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2>Créer un nouveau cours</h2>
      <%= render "form", course: @course %>
      <%= link_to "Retour à la liste de cours", courses_path, class: "btn btn-flat ps-0" %>
    </div>
  </div>
</div>
