.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  // height: 500px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// btn {
//   box-shadow: 0 0 15px rgba(0,0,0,0.4);
// }
