.card {
  background: #222;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
  cursor: pointer;
  height: 100%;
}

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  filter: contrast(3);
  filter: saturate(2.2);
  filter: brightness(1);
}

.card-index {
  background-color: #C88355;
  padding-bottom: 0;
  text-align: center;
}

.card-profil {
  cursor: default;
}

.list-group li{
  color: white;
}
.card-profil h2{
  color: white;
}

.card-profil:hover {
  transform: none;
}

.card-body {
  padding-bottom: 33px;
  border-radius: 20px;
}

.card-body a{
  color: white;
}

.sport {
  background-color: #829EC0;
}

.cuisine {
  background-color: #C88355;
}

.artisanat {
  background-color: #383435;
}

.musique {
  background-color: #cdad96;
}

.arts {
  background-color: #114560;
}

.langues {
  background-color: #7D7122;
}
