.card {
  background: #222;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  filter: contrast(3);
  filter: saturate(2.2);
  filter: brightness(1);
}
