.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #248F41;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: scale(1.1);
}
.footer-links a:hover {
  opacity: 1;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}
.footer .fa-heart {
  color: #D23333;
}

.home {
  color: rgba(0, 0, 0, 0.55);
}

.home:hover {
  color: black;
}
