.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h2 {
  color: #248F41;
  font-family: 'Amatic SC', cursive;
  font-size: 38px;
}

.dropdown {
  transition: all 0.2s ease;
}

.dropdown:hover {
  transform: scale(1.1);
  cursor: pointer;
}
